<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>아이디/비밀번호 찾기</title>
  <style media="screen">
    .find{
      margin-top: 60px;
      margin-left: 50px;
    }
    .find_btn{
      height: 50px;
      border-style: none;
      border-radius:4px;
      background-color: #7d7d7d;
      color:#fff;
      padding: 10px;

    }
  </style>

</head>
<body>
  <div class="find">
    <button class="find_btn" onclick="location.href='findid.html'">아이디찾기</button>
    <button class="find_btn" onclick="location.href='findpw.html'">비밀번호찾기</button>
  </div>
</body>
</html>
